<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="base :: html">




<div th:fragment="content">

    <section class="hero">
        <img src="#">
        <a href="">

        </a>

        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Bienvenue sur JoGame </h1>
            <p>Découvrez les dernières tendances, précommandez vos jeux préférés et restez informé sur les prochaines sorties.
                Notre équipe est disponible 24/7 pour vous offrir le meilleur support.</p>
        </div>
    </section>

    <!--Tendance-->
    <div id ="Tendance">
        <h1>Tendance</h1>
        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Ghost of Yotei</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Battlefield 6</span>
            <span class="span"></span>
            <span class="span"></span>
        </div>

        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">EA Sports FC 26</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Slip Fiction</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Clair Obscur : Expedition 33</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Monster Hunter Wilds</span>
        </div>

    </div>

    <!--Autre footer des avantage du site-->
    <div>
        <footer>
            <ul>
                <li>
                    <img src="img/"></img>
                    <h2>Ultra rapide</h2>
                    <p>Télechargement instantané</p>
                </li>
                <li>
                    <img src="img/"></img>
                    <h2>Fiable et sur </h2>
                    <p>Plus de 1000 jeux</p>
                </li>
                <li>
                    <img src="img/"></img>
                    <h2>Service client</h2>
                    <p>Disponible 24h/24 et 7j/7</p>
                </li>
            </ul>
        </footer>
    </div>

    <!--Precommander-->
    <div id ="Précommander">
        <h1>Précommander</h1>
        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Football manager 26</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Call of Duty: Black Ops 7 </span>
            <span class="span"></span>
            <span class="span"></span>
        </div>

        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Resident Evil : Requiem</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Gta 6 </span>
        </div>

    </div>

    <!--Meilleur vente-->
    <div id ="Meilleur ventes">
        <h1>Meilleur ventes</h1>
        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Carte cadeaux PlayStation Store</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="" type="video/mp4">
            </video>
            <span class="span">Xbox game Ultimate 1 mois (Microsoft Store) </span>
            <span class="span"></span>
            <span class="span"></span>
        </div>

        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="" type="video/mp4">
            </video>
            <span class="span">Minecraft: Java & Bedrock Edition - PC </span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Grand Theft Auto V Enhanced - PC  </span>
        </div>

    </div>


    <!--Categories-->

    <div id ="Categories">
        <h1>Categories</h1>
        <div class="">
            <img src="" alt="Action">
            <a href=""></a>

        </div>

        <div class="">
            <img src="" alt="Aventure">
            <a href=""></a>

        </div>

        <div class="">
            <img src="" alt="FPS">
            <a href=""></a>

        </div>

        <div class="">
            <img src="" alt="RPG">
            <a href=""></a>

        </div>
        <div class="">
            <img src="" alt="Jeux solo">
            <a href=""></a>

        </div>
        <div class="">
            <img src="" alt="Arcane">
            <a href=""></a>

        </div>
        <div class="">
            <img src="" alt="Combat">
            <a href=""></a>

        </div>

        <div class="">
            <img src="" alt="Stratégie">
            <a href=""></a>

        </div>
    </div>
</div>

</html>