<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="base :: html">
<link rel="stylesheet" th:href="@{/css/style.css}">





<div th:fragment="content">



    <section class="hero">
        <a href="#"></a>

        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Bienvenue sur JoGame </h1>
            <p>Découvrez les dernières tendances, précommandez vos jeux préférés et restez informé sur les prochaines sorties.
                Notre équipe est disponible 24/7 pour vous offrir le meilleur support.</p>
        </div>
        </a>
    </section>

    <!--Tendance-->
    <div id ="Tendance">
        <a href="/Jogame/tendance">
            <h1>Tendance ></h1>
        </a>

        <div class="">
            <img th:src="@{img/Ghostyotei.jpg}">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Ghost of Yotei</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Battlefield 6</span>
            <span class="span"></span>
            <span class="span"></span>
        </div>

        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">EA Sports FC 26</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Slip Fiction</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Clair Obscur : Expedition 33</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Monster Hunter Wilds</span>
        </div>

    </div>


    <!--Autre footer des avantage du site-->
    <div>
        <footer>
            <ul>
                <li>
                    <img th:src="@{img/ultra.jpg}"></img>
                    <h2>Ultra rapide</h2>
                    <p>Télechargement instantané</p>
                </li>
                <li>
                    <img th:src="@{img/fiablee.jpg}"></img>
                    <h2>Fiable et sur </h2>
                    <p>Plus de 400 jeux</p>
                </li>
                <li>
                    <img th:src="@{img/securite.jpg}"></img>
                    <h2>Service client</h2>
                    <p>Disponible 24h/24 et 7j/7</p>
                </li>
            </ul>
        </footer>
    </div>

    <!--Precommander-->
    <div id ="Précommander">
        <h1>Précommander >
            <a href=""></a>
        </h1>
        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Football manager 26</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Call of Duty: Black Ops 7 </span>
            <span class="span"></span>
            <span class="span"></span>
        </div>

        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="videos/gta6-trailer.mp4" type="video/mp4">
            </video>
            <span class="span">Resident Evil : Requiem</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Gta 6 </span>
        </div>

    </div>

    <!--Meilleur vente-->
    <div id ="Meilleur ventes">
        <h1>Meilleur ventes >
            <a href=""></a>
        </h1>
        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Carte cadeaux PlayStation Store</span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="" type="video/mp4">
            </video>
            <span class="span">Xbox game Ultimate 1 mois (Microsoft Store) </span>
            <span class="span"></span>
            <span class="span"></span>
        </div>

        <div class="">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="" type="video/mp4">
            </video>
            <span class="span">Minecraft: Java & Bedrock Edition - PC </span>
        </div>

        <div class="#">
            <img src="#" alt="">
            <video muted loop preload="none">
                <source src="#" type="video/mp4">
            </video>
            <span class="span">Grand Theft Auto V Enhanced - PC  </span>
        </div>

    </div>


    <!--Categories-->

    <div id ="Categories">
        <h1>Categories >
            <a href=""></a>
        </h1>
        <div class="jeux">
            <img th:src="@{img/elden.jpg}" alt="Action">
            <span class="span">Action</span>
            <a href=""></a>

        </div>

        <div class="">
            <img th:src="@{img/tombraider.jpg}" alt="Aventure">
            <span class="span">Aventure</span>

            <a href=""></a>

        </div>

        <div class="">
            <img th:src="@{img/battlefield2042.jpg}" alt="FPS">
            <span class="span">FPS</span>

            <a href=""></a>

        </div>

        <div class="">
            <img th:src="@{img/fantasy-group-adventurers.jpg}" alt="RPG">
            <span class="span">RPG</span>

            <a href=""></a>

        </div>
        <div class="">
            <img th:src="@{img/batman.jpeg}" alt="Jeux solo">
            <span class="span">Jeux solo</span>

            <a href=""></a>

        </div>
        <div class="">
            <img th:src="@{img/dbz.webp}" alt="Anime">
            <span class="span">Anime</span>

            <a href=""></a>

        </div>
        <div class="">
            <img th:src="@{img/hollow.jpg}" alt="Combat">
            <span class="span">Combat</span>

            <a href=""></a>

        </div>

        <div class="">
            <img th:src="@{img/strategie.webp}" alt="Stratégie">
            <span class="span">Stratégie</span>

            <a href=""></a>

        </div>
    </div>
</div>

</html>